/* APP LAYOUT */
.app-container {
  display: flex;
  height: 100vh;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.app-container {
  border: 3px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background: #A7E8D4
}


/* LEFT PANEL */
.left-panel {
  width: 35%;
  background: #fff;
  border-right: 3px solid #ccc;
  padding: 20px;
  overflow-y: auto;
}

/* RIGHT PANEL */
.right-panel {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.left-panel,
.right-panel {
  border: 4px solid #000;
  border-radius: 8px;
  background: #fff;
}

/* EMPLOYEE LIST */
.employee-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* EMPLOYEE ITEM */
.employee-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 8px;
  border-bottom: 6px solid #000;
  cursor: pointer;
  background: #A7E8D4;
  border-radius: 6px;
}

.employee-item:hover {
  background: #f0f0f0;
}

/* EMPLOYEE PHOTO (LEFT LIST) */
.employee-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

/* EMPLOYEE TEXT */
.employee-info {
  display: flex;
  flex-direction: column;
}

.employee-info span {
  font-size: 0.85rem;
  color: #000;
}

/* SEARCH BAR */
.search-bar {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 1.4rem;


}

/* RIGHT PANEL DETAILS */
.employee-details {
  text-align: left;
}

.employee-large-photo {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}


 .michael-fix {
  object-fit: contain;
  background: #fff;
} 

.employee-details h2 {
  margin: 0;
  font-size: 1.8rem;
}

.employee-details h4 {
  margin-top: 5px;
  color: #666;
  font-weight: normal;
}

.contact-info p {
  margin: 10px 0;
  font-size: 1rem;
}